.searchIconBox {
    /* display: inline-block; */
    float: left;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    /* background: orange; */
}

.searchIcon {
    /* display: inline-block; */
    transform: scale(0.08);
}